.subnav
  h1 Your Lists
article
  ul
    - each shelf in json.shelves.user_shelf
      li.shelf(id='#{shelf.name}')
        h4
          a(href='/lists/#{shelf.name}') #{shelf.name} 
          #{shelf.book_count['#']}
        .arrows
          a.leftArrow [
          a.rightArrow ]
          a.heart k
        ul.shelfItems(id='#{shelf.name}')
        